<!--<p><strong><span style="text-decoration: underline;">OK$ Agent’s Benefit</span></strong></p>-->
<p><strong>(1)&nbsp;</strong>&nbsp;&nbsp;&nbsp; A merchant/a business can become an OK$ agent.</p>
<p><strong>(2)&nbsp;&nbsp;</strong>&nbsp;&nbsp; Please submit the required business documents to
    become an OK$ agent.</p>
<p><strong>(3)&nbsp;&nbsp;</strong>&nbsp;&nbsp; An agent can earn commission and fees directly from
    customers by providing Cash In/Cash Out Services and Other OK$ Services.</p>
<p><strong>(4)&nbsp;&nbsp;</strong>&nbsp;&nbsp; Agent’s business revenues and sales will grow
    because of more visiting OK$ customers.</p>



