<style>
    body{
        font-family: Zawgyi-One;
        font-size: 30px;
        color: #104365;
        font-weight: normal;
    }
h3{
    font-family: Zawgyi-One;
    font-size: 33px;
    color: #042f4b;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    
}
h4{
    font-family: Zawgyi-One;
    font-size: 32px;
    color: #53b0ee;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}
p{
    font-family: Zawgyi-One;
    padding: 2px 5px;
}
</style>

<p><strong><span style="text-decoration: underline;">Duty of Business Acceptor</span></strong></p>
<p><strong>(1)&nbsp;</strong>&nbsp;&nbsp;&nbsp; Doing business work politely or honestly </p>
<p><strong>(2)&nbsp;&nbsp;</strong>&nbsp;&nbsp; If you want to apply for mobile money you should
    need to enter your mobile number, business name correctly. You should not allow for other people
    to borrow, sell or use your business name.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="text-decoration: underline;">Example</span>
    - According to the law, business name should use your own business name.</p>
<p><strong>(3)&nbsp;&nbsp;</strong>&nbsp;&nbsp; Customer should obey the rule of Cash Back, Bonus
    Point, Loyalty Point, Discount from Custome Service. </p>
<p><strong>(4)&nbsp;</strong>&nbsp;&nbsp;&nbsp; If some contention happen you should return all of
    the facilities to the business man who give that facilities to you within one week.</p>
<p><span style="text-decoration: underline;">Example</span>။ &nbsp;&nbsp; ။ OK Dollar 100000MMK for
    Credit Money when give it back to business man OK MMK<strong>(1)</strong> MMK (or) It need to
    pay back Cash Money (100000MMK)</p>
<p><strong>(5)&nbsp;</strong>&nbsp;&nbsp;&nbsp; Service recipients should obey all of the business
    rule. If someone break the rules they will give special attention by their rules. </p>
<p><strong>(6)&nbsp;</strong>&nbsp;&nbsp;&nbsp; Service recipients doesn't know Service acceptor.
    Service acceptor is not the employee o f service recipients that was working with reilable.</p>
<p><strong>(7)&nbsp;&nbsp;&nbsp;&nbsp; Payment System</strong>when suspend operations all of the
    withdraw investments &hellip;&hellip;&hellip;&hellip;&hellip; According to our business rule
    when service recipients suspend their business operation service acceptor need to give back all
    of the billboard, voucher or books to service recipients.After give it back all, service
    acceptor no need to use payment system or anything to other place.</p>
<p><strong>(8)&nbsp;</strong>&nbsp;&nbsp;&nbsp; If service acceptor reject some duty or problem
    happen service recipients need to manage everything. And they need to solve the problem. </p>
<p><strong>(9)&nbsp;&nbsp;</strong>&nbsp;&nbsp; After reading all of the terms and condtitions, if
    no one give force please make the agreement sign.</p>
<p><strong>(10)&nbsp;</strong>&nbsp; You can accept all of the terms and conditions from the
    agreement paper.</p>
<p><strong>(11)</strong>&nbsp;&nbsp; At future, digital credit is preliminary digital credit but
    that is always include or important at agreement paper.</p>
<p><strong>(12)&nbsp;</strong>&nbsp; You should need to obey or accept all of the rules,
    instructions or guidelines.</p>
<p>&nbsp;</p>
<p><strong><span style="text-decoration: underline;">Duty of Service Recipients</span></strong></p>
<p><strong>(1)&nbsp;</strong>&nbsp;&nbsp;&nbsp; Filtering operations ever assessment</p>
<p><strong><span style="text-decoration: underline;">Duty of Business Acceptor</span></strong></p>
<p><strong>(1)&nbsp;</strong>&nbsp;&nbsp;&nbsp; Doing business work politely or honestly </p> <p>
    <strong>(2)&nbsp;&nbsp;</strong>&nbsp;&nbsp; If you want to apply for mobile money you should
    need to enter your mobile number, business name correctly. You should not allow for other people
    to borrow, sell or use your business name.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="text-decoration: underline;">Example</span>
    - According to the law, business name should use your own business name.</p>
<p><strong>(3)&nbsp;&nbsp;</strong>&nbsp;&nbsp; Customer should obey the rule of Cash Back, Bonus
    Point, Loyalty Point, Discount from Custome Service. </p>
<p><strong>(4)&nbsp;</strong>&nbsp;&nbsp;&nbsp; If some contention happen you should return all of
    the facilities to the business man who give that facilities to you within one week.</p>
<p><span style="text-decoration: underline;">Example</span>။ &nbsp;&nbsp; ။ OK Dollar 100000MMK for
    Credit Money when give it back to business man OK MMK<strong>(1)</strong> MMK (or) It need to
    pay back Cash Money (100000MMK)</p>
<p><strong>(5)&nbsp;</strong>&nbsp;&nbsp;&nbsp; Service recipients should obey all of the business
    rule. If someone break the rules they will give special attention by their rules. </p>
<p><strong>(6)&nbsp;</strong>&nbsp;&nbsp;&nbsp; Service recipients doesn't know Service acceptor.
    Service acceptor is not the employee o f service recipients that was working with reilable.</p>
<p><strong>(7)&nbsp;&nbsp;&nbsp;&nbsp; Payment System</strong>when suspend operations all of the
    withdraw investments &hellip;&hellip;&hellip;&hellip;&hellip; According to our business rule
    when service recipients suspend their business operation service acceptor need to give back all
    of the billboard, voucher or books to service recipients.After give it back all, service
    acceptor no need to use payment system or anything to other place.</p>
<p><strong>(8)&nbsp;</strong>&nbsp;&nbsp;&nbsp; If service acceptor reject some duty or problem
    happen service recipients need to manage everything. And they need to solve the problem. </p>
<p><strong>(9)&nbsp;&nbsp;</strong>&nbsp;&nbsp; After reading all of the terms and condtitions, if
    no one give force please make the agreement sign.</p>
<p><strong>(10)&nbsp;</strong>&nbsp; You can accept all of the terms and conditions from the
    agreement paper.</p>
<p><strong>(11)</strong>&nbsp;&nbsp; At future, digital credit is preliminary digital credit but
    that is always include or important at agreement paper.</p>
<p><strong>(12)&nbsp;</strong>&nbsp; You should need to obey or accept all of the rules,
    instructions or guidelines.</p>
<p>&nbsp;</p>
<p><strong><span style="text-decoration: underline;">Duty of Service Recipients</span></strong></p>
<p><strong>(1)&nbsp;</strong>&nbsp;&nbsp;&nbsp; Filtering operations ever assessment</p>
<p><strong>(2)&nbsp;&nbsp;</strong>&nbsp;&nbsp; If service acceptor reject some duty,can't slove the
    error or problem happen service recipients need to manage everything. And they need to solve the
    problem. &hellip;&hellip;&hellip;&hellip;&hellip;&hellip; If they break the rule or can't give
    all of the thing to the original state the owner chargeable to the service recipients or service
    acceptor.</p>
<p>&nbsp;</p>



